.#{$prefix}btn {
  cursor: pointer;

  &__yellow {
    border: 2px solid var(--secondary-color);
    padding: 0.8rem 1.8rem;
    display: inline-block;
    border-radius: 33px;
    color: var(--secondary-color);
    font-weight: 600;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    &:hover {
      color: white;
      background-color: var(--secondary-color);
    }
  }
  &__bg-yellow {
    width: 100%;
    background: var(--secondary-color);
    padding: 1rem;
    border-radius: 3em;
    border: none;
    font-size: var(--p-font-size);
    &:hover {
      color: var(--white-color);
    }
  }
  &__white {
    padding: 1.3rem 1.8rem;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: inline-block;
    border-radius: 33px;
    color: var(--primary-color);
    background-color: var(--white-color);
    font-size: var(--p-font-size);
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
    transition: 0.7s ease;
    &:hover {
      color: white;
      background-color: #000000;
    }
  }
  &__green {
    width: 100%;
    background: var(--primary-color);
    padding: 1rem;
    border-radius: 3em;
    border: none;
    font-size: var(--p-font-size);
    color: var(--white-color);
  }
  &--yellow {
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    &:hover {
      color: #ffcb00;
    }
  }
  &:focus {
    outline: none;
  }
}
