.dma-footer-section {
  background-color: var(--dark-color);
  &__footer-container {
    &__top {
      margin-bottom: 80px;

      &__brand {
        h1 {
          color: #ffffff;
        }
      }
      &__contact,
      &__address {
        h4 {
          margin-bottom: 25px;
        }
        p {
          margin: 0 !important;
        }
        .icon {
          color: yellow;
        }
      }
    }
    &__bottom {
      &__copyright {
        margin-bottom: 30px;
      }
      &__menu {
        margin-bottom: 40px;
        ul {
          display: flex;
          flex-direction: row;
          justify-content: left;
          li {
            padding: 0 10px;
            color: var(--p-color);
          }
        }
      }

      &__socialnetwork {
        ul {
          display: flex;
          flex-direction: row;
          justify-content: left;
          li {
            padding: 0 10px;
            color: var(--p-color);
          }
        }
      }
    }
  }
}
