$class-name: ".dma-header";
$mobile-class-name: ".dma-header-mobile";

#{$class-name} {
  display: flex;
  flex-direction: row;
  background: var(--primary-color);
  color: white;
  // padding: 1.5rem 13rem;

  div {
    //  flex-basis: 50%;
  }
  &__logo {
    font-size: 2em;
    // margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }
  &__menu {
    margin-left: auto;
    nav {
      color: white;
      list-style: none;
      display: flex;
      justify-content: right;
      max-height: 100%;
      align-items: center;
      font-size: var(--menu-font-size);
      li {
        padding: 0.2rem 1.5rem;
        cursor: pointer;
      }
    }
  }
}
#{$mobile-class-name} {
  &__logo {
    font-size: 2em;

    display: flex;
    align-items: center;
  }
  &__menu {
    margin-left: auto;
    nav {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: right;
      max-height: 100%;
      align-items: center;
      font-size: var(--menu-font-size);
      li {
        padding: 1.5rem 1.5rem;
        cursor: pointer;
      }
    }
    &__promotion-images {
      img {
        width: 100%;
      }
    }
  }
}

.mobile-menu-bars {
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 2rem;
  margin-left: auto;
}

.mobile-menu-container {
  top: 0;
  right: 0;
  color: black;
  z-index: 500;
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  &__close {
    margin-left: "auto";
    width: 50px;
    height: 50px;
    color: black;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 2rem;
  }
}
