$class-name: ".dma-header";

#{$class-name} {
  display: flex;
  flex-direction: row;
  background: var(--primary-color);
  color: white;
  // padding: 1.5rem 13rem;

  div {
    //  flex-basis: 50%;
  }
  &__logo {
    font-size: 2em;
    // margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }
  &__menu {
    margin-left: auto;
    nav {
      color: white;
      list-style: none;
      display: flex;
      justify-content: right;
      max-height: 100%;
      align-items: center;
      font-size: var(--menu-font-size);
      li {
        padding: 0.2rem 1.5rem;
        cursor: pointer;
      }
    }
  }
}
