$class-name: ".header";

#{$class-name} {
  display: flex;
  flex-direction: row;
  background: #0c8195;
  color: white;
  padding: 2rem 12rem;

  div {
    //  flex-basis: 50%;
  }
  &__logo {
    font-size: 2.5em;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
  }
  &__menu {
    margin-left: auto;
    nav {
      color: white;
      list-style: none;
      display: flex;
      justify-content: space-around;
      height: 100%;
      align-items: center;
      li {
        padding: 0.2rem 2rem;
        cursor: pointer;
      }
    }
  }
}
