// @use "sass:math";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  // margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  margin-top: 3rem;
}

:root {
  --base-font-family: "Plain-Light", sans-serif;
  --title-font-family: "Plain-Regular", sans-serif;
  --menu-font-size: 14px;
  --primary-color: #057a8d;
  --secondary-color: #f1c111;
  --white-color: #ffffff;
  --btn-general-font-size: 16px;
  --p-font-size: 18px;
  --h1-font-size: 42px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --p-color: #666262;
  --link-color: #404040;
  --gray-color: #909090;
  --base-font-family: "Plain-Light", sans-serif;
  --project-bg: #f0f8ff;
  --dark-color: #171819;
  --menu-bg: #0c8195;
  --border-radius-small: 5px;
}

body {
  background: var(--white-color);
  font-family: var(--base-font-family);
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

.#{$prefix}container {
  width: 100%;
  margin: 0 auto;
  @media screen and (min-width: 1200px) {
    width: 1140px;
  }
}

b,
strong {
  color: var(--secondary-color);
}
h1 {
  font-size: calc(var(--h1-font-size) * 0.8);
}
h2 {
  font-size: calc(var(--h2-font-size) * 0.8);
  margin-bottom: 1.2rem;
}
h3 {
  font-size: calc(var(--h3-font-size) * 0.8);
  font-weight: 100;
}
h4 {
  color: var(--gray-color);
  font-family: var(--base-font-family);
  font-size: var(--p-font-size);
  letter-spacing: 1px;
  text-transform: uppercase;
}
a {
  // color: var(--link-color);
  font-weight: normal;
  text-decoration: none;
}
p {
  font-size: var(--p-font-size);
  color: var(--p-color);
  line-height: 1.5em;
  margin-bottom: 1em;
}

.#{$prefix}section-container {
  padding: 0px 1.2em;
}
section {
  padding-top: 2em;
  padding-bottom: 2em;
  overflow: hidden;

  @media screen and (min-width: 769px) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  @media screen and (min-width: 769px) {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}
.#{$prefix}project {
  background-color: var(--project-bg);
}
.#{$prefix}project-info small {
  // font-family: Plain-Bold;
  color: var(--gray-color);
  position: relative;
  top: 2px;
}
.#{$prefix}project-info .#{$prefix}green-link {
  color: var(--primary-color);
}
.#{$prefix}pb-0,
.#{$prefix}py-0 {
  padding-bottom: 0 !important;
}

.#{$prefix}arrow-link {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: var(--primary-color);
  color: var(--white-color);
  height: 40px;
  width: 40px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 0.7rem;
}
.#{$prefix}small,
small {
  font-size: 80%;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: var(--h1-font-size);
  }
  h2 {
    font-size: var(--h2-font-size);
  }
  h3 {
    font-size: var(--h3-font-size);
  }
}

.noscroll {
  overflow: hidden;
  // height: 100vh;
}


.#{$prefix}client-info {
  img {
    width: 6rem;
    margin-left: 1rem;
  }
}

.#{$prefix}list-group-yellow {
  li {
    margin: 0.6em 0 0 0.8em;
    &::before {
      content: "";
      width: 0;
      height: 0;
      border-width: 0 1rem 1rem 0;
      border-color: transparent var(--secondary-color) transparent transparent;
      display: inline-block;
      border-style: solid;
      margin: 0 0.7rem 0 0.5rem;
    }
  }
}
blockquote {
  border-left: 0.3em solid rgba(0, 0, 0, 0.05);
  padding: 1em 0 1em 1.5em;
  color: rgba(0, 0, 0, 0.5);
  margin: 2em 0;
  &::before {
    // content: "";
    // height: 100%;
    // width: 1rem;
    // color: rgba(0, 0, 0, 0.05);
    // display: inline-block;
    // margin-left: 2em;
  }
}

.#{$prefix}modal {
  background-color: #0000008c;
  position: fixed;
  // padding: 6rem;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 500;

  // display: none;
  &__content {
    // padding: 3em;
    background-color: var(--white-color);
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow-y: auto;
    border-radius: 5px;
    position: relative;
    font-size: var(--p-font-size);
    &::-webkit-scrollbar {
      width: 0.5em;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }
    @media screen and (min-width: 481px) {
      max-width: 100%;
    }
    @media screen and (min-width: 769px) {
      max-width: 80%;
      // height: 80%;
    }
    @media screen and (min-width: 1200px) {
      max-width: 50%;
    }
  }
  &__close {
    margin-left: "auto";
    width: 50px;
    height: 50px;
    color: black;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.#{$prefix}icon,
.#{$prefix}sec-color-link.dma-link {
  color: var(--secondary-color);
}

.#{$prefix}team {
  &__image {
    height: 20vh;
    width: 20vh;
    position: relative;
    border-radius: 50%;
    @media screen and (min-width: 481px) {
      height: 35vh;
      width: 35vh;
    }

    p {
      background: linear-gradient(304deg, #ffffff 10%, transparent 80%);
      height: 20%;
      width: 100%;
      position: absolute;
      bottom: 0;
      color: var(--secondary-color);
      margin: 0;
    }
    img {
      width: 100%;
      height: 100%;
      background: var(--secondary-color);
      overflow: hidden;
      object-fit: cover;
    }
  }
}
