@charset "UTF-8";
.header {
  display: flex;
  flex-direction: row;
  background: var(--primary-color);
  color: white;
  padding: 1.5rem 13rem;
}
.header__logo {
  font-size: 2em;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}
.header__menu {
  margin-left: auto;
}
.header__menu nav {
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  font-size: var(--menu-font-size);
}
.header__menu nav li {
  padding: 0.2rem 1.5rem;
  cursor: pointer;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
}

:root {
  --base-font-family: "Plain-Light", sans-serif;
  --title-font-family: "Plain-Regular", sans-serif;
  --menu-font-size: 14px;
  --primary-color: #057a8d;
  --secondary-color: #f1c111;
  --white-color: #ffffff;
  --btn-general-font-size: 16px;
  --p-font-size: 18px;
  --h1-font-size: 42px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --p-color: #666262;
  --gray-color: #909090;
  --base-font-family: "Plain-Light", sans-serif;
  --project-bg: #f0f8ff;
  --gray-color: #909090;
  --dark-color: #171819;
}

body {
  background: var(--white-color);
  font-family: var(--base-font-family);
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

b,
strong {
  color: var(--secondary-color);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
  margin-bottom: 1.2rem;
}

h3 {
  font-size: var(--h3-font-size);
}

p {
  font-size: var(--p-font-size);
  color: var(--p-color);
  line-height: 1.5em;
  margin-bottom: 1em;
}

.section-container {
  padding: 0px 1.2em;
}

section {
  padding-top: 8em;
  padding-bottom: 8em;
}

.project {
  background-color: var(--project-bg);
}

.project-info small {
  color: var(--gray-color);
  position: relative;
  top: 2px;
}

.project-info .green-link {
  color: var(--primary-color);
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.arrow-link {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background-color: var(--primary-color);
  color: var(--white-color);
  height: 20px;
  width: 20px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: 0.7rem;
}

.small, small {
  font-size: 80%;
  font-weight: 400;
}

.btn {
  cursor: pointer;
}
.btn__yellow {
  border: 2px solid var(--secondary-color);
  padding: 0.8rem 1.8rem;
  display: inline-block;
  border-radius: 33px;
  color: var(--secondary-color);
  font-weight: 600;
  transition: 0.1s linear;
}
.btn__yellow:hover {
  color: white;
  background-color: #ffcb00;
}
.btn__white {
  padding: 1.3rem 1.8rem;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  display: inline-block;
  border-radius: 33px;
  color: var(--primary-color);
  background-color: var(--white-color);
  font-size: var(--p-font-size);
  transition: 0.7s ease;
}
.btn__white:hover {
  color: white;
  background-color: #000000;
}
.btn--yellow {
  transition: 0.1s linear;
}
.btn--yellow:hover {
  color: #ffcb00;
}

.nav-links {
  letter-spacing: 0.4px;
}

.slider-main {
  overflow: hidden;
  position: relative;
  padding: 6rem 0;
}
.slider-main__bg {
  background: linear-gradient(170deg, var(--primary-color) 64%, var(--white-color) 30%);
}
.slider-main__content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slider-main__content-container > div {
  width: 50%;
  padding: 0 1.5em;
}
.slider-main__content-container div:first-child {
  text-align: left;
  color: var(--white-color);
}
.slider-main__content-container div:first-child h1 {
  font-size: 2.8rem;
  line-height: 1.5em;
  margin-bottom: 0.2em;
}
.slider-main__content-container div:nth-child(2) img {
  width: 100%;
}
.slider-main__content-container strong {
  display: block;
  padding: 1em 1em 1em 2.5em;
  color: white;
}
.slider-main__content-container strong svg {
  margin-right: "5px";
}

.home__about-us__container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .home__about-us__container {
    max-width: 65%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .home__about-us__container h2 {
    max-width: 65%;
  }
}
.home__about-us__container__about__image {
  line-height: 0;
}
.home__about-us__container__about__image img {
  width: 100%;
}

.testimonials-section {
  background-color: #ffffff;
}
.testimonials-section__testimonials-container {
  align-items: center;
  padding: 150px 0;
  display: flex;
  flex-direction: row;
}
.testimonials-section__testimonials-container > div:first-child {
  flex-basis: 50%;
}
.testimonials-section__testimonials-container > div:first-child img {
  width: 100%;
}
.testimonials-section__testimonials-container > div:nth-child(2) {
  flex-basis: 50%;
  padding: 0 30px;
  position: relative;
}
.testimonials-section__testimonials-container > div:nth-child(2) .quote::after {
  content: "“";
  position: absolute;
  top: 200px;
  left: 20px;
  font-family: times;
  color: var(--gray-color);
  font-weight: var(--font-weight-bold);
  font-size: 20em;
  line-height: 0;
  opacity: 0.1;
}
.testimonials-section__testimonials-container > div:nth-child(2) h4 {
  color: var(--gray-color);
  font-size: var(--p-font-size);
  margin: 35px 0px;
}
.testimonials-section__testimonials-container > div:nth-child(2) p span {
  padding: 0 10px;
}

.home-slide {
  line-height: 0 !important;
  margin: 0 1.2rem;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.home-slide img {
  width: 100%;
}
.home-slide p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 1.8rem;
  background: white;
  width: 90%;
  padding: 2rem 2rem;
  box-sizing: border-box;
  left: 5%;
  border-radius: 5px;
}

.home-services > div:first-child h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: var(--secondary-color);
}

.footer-section {
  background-color: var(--dark-color);
}/*# sourceMappingURL=index.css.map */